* {
  font-family: arial, helvetica, sans-serif;
  font-size: 24px;
}

body {
  padding: 0;
  margin: 0;
  background: url(/images/background1.jpg);
}

img {
  border: 0;
}

#notepad {
  position: absolute;
  top: 0;
  left: 0;
  width: 684px;
  height: 912px;
  background: url(/images/notepad1.jpg);
}

#page {
  position: absolute;
  top: 104px;
  left: 42px;
  width: 555px;
  height: 777px;
  background-color: transparent;
  border: 0;
}

#edit {
  position: absolute;
  display: none;
  height: 30px;
  width: 555px;
  background-color: transparent;
  border: 0;
}

.note {
  position: absolute;
  line-height: 41px;
}

#debug {
  position: absolute;
  color: red;
  font-size: 14px;
  top: 60px;
  right: 0;
}

#twitter {
  position: absolute;
  top: 5px;
  right: 5px;
}
