* {
  font-family: arial, helvetica, sans-serif;
  font-size: 24px;
}

body {
  padding: 0;
  margin: 0;
  background: url(/images/redrocks.jpg);
  min-height: 1125px;
}

img {
  border: 0;
}

#logo {
  position: absolute;
  top: 5px;
  left: 224px;
  width: 310px;
  height: 40px;
  background: url(/images/noted.cc.png);
}

#copy {
  z-index: 10;
}

#notepad {
  position: absolute;
  top: 60px;
  left: 224px;
  width: 556px;
  height: 764px;
}

#page {
  position: absolute;
  top: 0;
  left: 0;
  width: 556px;
  height: 764px;
  background: url(/images/notepad3.jpg);
  filter: alpha(opacity=90);
  opacity: 0.9;
  border: 0;
}

#edit {
  position: absolute;
  display: none;
  height: 30px;
  width: 555px;
  background-color: transparent;
  border: 0;
}

#handle {
  position: absolute;
  border: 1px solid #999;
  background-color: #ccc;
  width: 5px;
  height: 5px;
  display: none;
}

.note {
  position: absolute;
  line-height: 41px;
}

.selected {
  background-color: #fff;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

#debug {
  position: absolute;
  color: red;
  font-size: 14px;
  top: 60px;
  right: 0;
}

#twitter {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 10;
}

#legal {
  position: absolute;
  top: 1100px;
  left: 10px;
  color: #ccc;
  z-index: 10;
}

#legal a {
  color: #99f;
  text-decoration: none;
}

#legal, #legal * {
  font-size: 10px;
}

#stylebox {
  position: absolute;
  top: 60px;
  left: 11px;
  width: 200px;
  height: 90px;
}

#stylebox #selectcolor {
  position: absolute;
  top: 28px;
  left: 28px;
  width: 24px;
  height: 24px;
  background: url(/images/selectcolor.png);
}

#stylebox #selectfont {
  position: absolute;
  top: 57px;
  left: 4px;
  width: 62px;
  height: 28px;
  background: url(/images/selectfont.png);
}

#notelist {
  position: absolute;
  top: 160px;
  left: 11px;
  width: 200px;
}

#notelist #listhead {
  width: 200px;
  height: 24px;
  background: url(/images/listhead.png);
}

#notelist #listbody {
  width: 200px;
  background: url(/images/listback.png);
}

#notelist #listbody #listitems {
  width: 200px;
  padding: 5px;
  margin: 0;
  margin-left: 30px;
  list-style-image: url(/images/page_white.png);
}

#notelist #listbody #listitems li {
  font-size: 14px;
}

#notelist #listfoot {
  width: 200px;
  height: 10px;
  background: url(/images/listfoot.png);
}
