* {
  font-family: arial, helvetica, sans-serif;
  font-size: 24px;
}

body {
  padding: 0;
  margin: 0;
  background: url(/images/redrocks.jpg);
  min-height: 1125px;
}

img {
  border: 0;
}

#logo {
  position: absolute;
  top: 5px;
  left: 224px;
  width: 310px;
  height: 40px;
  background: url(/images/noted.cc.png);
}

#notepad {
  position: absolute;
  top: 60px;
  left: 224px;
  width: 556px;
  height: 764px;
}

#page {
  position: absolute;
  top: 0;
  left: 0;
  width: 556px;
  height: 764px;
  background: url(/images/notepad3.jpg);
  filter: alpha(opacity=90);
  opacity: 0.9;
  border: 0;
}

#edit {
  position: absolute;
  display: none;
  height: 30px;
  width: 555px;
  background-color: transparent;
  border: 0;
}

#handle {
  position: absolute;
  border: 1px solid #999;
  background-color: #ccc;
  width: 5px;
  height: 5px;
  display: none;
}

.note {
  position: absolute;
  line-height: 41px;
}

.selected {
  background-color: #fff;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

#debug {
  position: absolute;
  color: red;
  font-size: 14px;
  top: 60px;
  right: 0;
}

#twitter {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 10;
}
